/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}
.right{
    float: right;
}

.button{
    padding: 5px 17px;
    line-height: normal;
    color: white;
    background-color: #0061FF;
    text-decoration: none;
    display: inline-block;
}

/* header */

header{
    height: 70px;
    width: 100%;
    line-height: 70px;
    box-shadow: 0 0 0 1px lightgray;
    position: fixed;
    background-color: white;
    z-index: 2;
}

header img{
    width: 10%;
    float: left;
    padding: 20px 10px 10px 10px;
    margin: auto;
    vertical-align: text-bottom;

}

nav ul{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

nav ul li a:hover{
    text-decoration: underline;
}

/* jumbo */

#jumbotron{
    width: 100%;
    background-color: #B4D0E7;
    height: 660px;
}

.jumbo{
    padding: 0 5% 0px;
    width: 95%;
    margin: auto;
}

.jumbo h1{
    text-align: left;
    font-size: 65px;
    padding: 120px 0 30px 0;
    margin-left: 30px;
}

.scarica{
    float: left;
    width: 35%;
    padding: 30px;
    margin-right: 5%;
    max-height: 400px;
}

.imgj{
    float: right;
    width: 60%;
    z-index: 1;
}

.scarica p{
    line-height: 1.4;
    margin-bottom: 25px;
    font-size: 15px;
}
.scarica i{
    font-size: 30px;
    float: left;
}
.arrow{
    margin: 40px 0px;

}
.scarica .button{
    float: left;
    font-size: 17px;
}
.scarica span{
    margin: 10px 0 20px 0;
    float: left;
    font-size: 15px;
}

/* mian */

.wid{
    width: 70%;
    margin: 0 auto;    
}

#h1check{
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.check label{
    margin: 0px 30px 30px 0px;
    display: inline-block;
}

.subscription{
    float: left;
    width: 30%;
}

.margin{
    margin: 0 5% 0 0;
}

#sub2{
    width: 100%;
    margin: 40px 0 150px;
}

.plan{
    height: 1200px;
}

.up{
    border: 1px solid lightgrey;
    border-bottom: none;
    text-align: center;
    padding: 6px 0px;
}

.border{
    padding: 30px 25px;
    border: 1px solid lightgrey;
}

.subscription li{
    list-style: none;
    margin-bottom: 25px;
    list-style-position: outside;
}

.list i{
    color: #0061FF;
}

.silver{
    display: inline-block;
    color: lightslategray;
    margin: 10px 0 45px;
}

.subscription h2{
    margin-bottom: 15px;
}

.subscription span{
    display: inline-block;
}

.blue{
    color: #0061FF;
    margin: 25px 0;
    display: inline-block;
}

.subscription hr{
    width: 25%;
}

.subscription h4:last-of-type{
    margin: 35px 0 25px;
}

.down{
    height: 1050px;
}

.buttonw{
    width: 100%;
    text-align: center;
}

/* partner (main) */

.img-left{
    width: 60%;
}

.textr{
    width: 40%;
    padding: 30px 0 0 45px;    
}

.button3{
    padding: 5px 15px;
    border: solid 1px;
    color: black;
    text-decoration: none;
}

.partner p{
    margin: 35px 0;
    display: inline-block;
}

/* piu operazioni (main) */

.operation h1{
    margin: 65px 0 45px;
    font-size: 40px;
}

.box{
    width: 29%;
    display: inline-block;
    margin-bottom: 60px;
}

.box img{
    width: 100%;
}

.box p{
    margin: 30px 0;
}

/* team (main) */

.contitem{
    width: 30vw;
    /* height: 30vh; */
}

.team{
    width: 100vw;
}

.item{
    position: relative;
    width: 15vw;
    height: 15vw; /*chiedi perchè no vh?*/
}

.team a{
    margin: 30px 0;
}

.inline{
    display: inline;    
}

.item img{
    width: 60%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate( -50% , -50%);
}

.centro{
    width: calc(100% - 60vw);
    padding: 30px;
    background-color: #F5F5F5;
    height: 30vw; /*                     chiedi*/
    font-size: 14px;
}

.centro img{
    width: 20%;
}

.centro hr{
    width: 8%;
    margin: 40px 0 50px;
    color: grey;
}

.centro span{
    margin: 40px 0;
    display: inline-block;
}

/* prova gratuita */

.prova{
    width: 100vw;
    padding: 100px 0;
}

.prova h1{
    color: #61082B;
    font-size: 40px;
}

.prova a{
    text-decoration: none;
    color: black;
    padding: 5px 50px;
    background-color: white;
}

/* item colors */

.verd{
    background-color: lightgreen;
}

.blu{
    background-color: #0D2481;
}

.sky{
    background-color: #B4D0E7;
}

.celestial{
    background-color: #0093CE;
}

.rouge{
    background-color: #61082B;
}

.orange{
    background-color: #FF1C1C;
}

.red{
    background-color: #D5001F;
}

.yellow{
    background-color: #FFD830;
}

/* domande frequenti */

.question{
    margin-bottom: 120px;
}

.question h1{
    margin: 120px 0 40px;
}

.quest{
    font-weight: bold;
    display: inline-block;
    padding: 25px 0;
    font-size: 14px;
}

.quest2{
    padding: 25px 25px 0 0;
}

.question .row{
    border-bottom: 0.5px solid lightgrey;
}

.question .row:first-of-type{
    border-top: 0.5px solid lightgrey;
}

/* footer */

footer{
    background-color: black;
    padding: 90px 5% 100px 0;
}

footer .f-top .column{
    float: left;
    color: white;
    width: calc(100% / 5);
}

.column ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.column ul{
    list-style: none;
}

.column h3{
    margin-bottom: 25px;
}

.f-bottom hr{
    width: 8%;
    margin-top: 70px;
    color: grey;
}

.wid-bott{
    width: %;

}

/* debug 

.debug header{
    background-color: yellow;
}

.debug #jumbotrone {
    background-color: turquoise;
    height: 600px;
}

.debug main {
    background-color: tomato;
    height: 1000px;
}

.debug footer {
    background-color: violet;
    height: 400px;
}*/